body {
    background-image: url("/08.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.mapDetails {
    width: 500px;
    height: 452px;

}

.countryDetail{
    background-color: beige;
    height: 479px;
    border: 10px solid;
    border-radius: 0.7em;
    margin-top: -79px;

}

.countryGenInfo{

    text-align: center;
    padding: 10px;
}

.listDetailCountry {
    margin:0 0 5px 0;   
}

h1 {
    color: white;
    text-align: center;
    background-color: black;
    margin-bottom: 20px;
    padding: 10px;

}
.imgFlag {
    height: 78%;
    width: 100%;
}